<div class="contain">
  <div class="padd">

    <div class="first-header-tab">
      <button class="first-eservice"><a routerLink="/">E-Service</a></button>
      <button class="first-knowledg"><a routerLink="/">Knowledge Center</a></button>
      <span class="first-span">
        <button class="first-arabic" ><a routerLink="/">عربي</a></button>
        <button class="first-zero" ><fa-icon class="headphones" [icon]="headphones"></fa-icon><a routerLink="/">000000000</a></button>
        <button class="first-faq" ><a routerLink="/">FAQ</a></button>
        <button class="first-trust" ><a routerLink="/">Trustees</a></button>
      </span>
    </div>

    <div class="row header-border">

      <div routerLink="/" class="col-md-2 col-lg-2 col-xl-2 header-logo"></div>

      <div class="col-md-8 col-lg-8 col-xl-8 second-header-tab">
          <button class="announce" ><a>Announcements</a></button>
          <button class="train" ><a>Training</a></button>
          <button class="sys" ><a>System</a></button>
          <button class="commi" ><a>Commission</a></button>
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 second-header-tab-icon">
        <fa-icon class="search" [icon]="searchIcon"></fa-icon>
        <div class="equals">
          <fa-icon [icon]="equalsIcon"></fa-icon>
          <fa-icon [icon]="equalsIcon"></fa-icon>
        </div>
      </div>

    </div>

  </div>
</div>

